<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{myForm.valid}}
    Form invalid ? {{myForm.invalid}}
  </div>
  <div>
    <label for="title">Title</label>
    <input name="title" type="text" [(ngModel)]="model.title" #title="ngModel" required minlength="5" maxlength="30">
  </div>
  <div *ngIf="title.touched && title.errors">
    <span *ngIf="title.errors?.['required']">Le titre est requis</span>
    <span *ngIf="title.errors?.['minlength']">La longueur maximale doit être supérieure à 5</span>
    <span *ngIf="title.errors?.['maxlength']">La longueur maximale doit être inférieure à 30</span>
  </div>
  <div>
    <label for="quantity">Quantité</label>
    <input name="quantity" type="number" [(ngModel)]="model.quantity" #quantity="ngModel" required>
  </div>
  <div *ngIf="quantity.touched && quantity.errors">
    <span *ngIf="quantity.errors?.['required']">Le champ quantité est requis</span>
  </div>
  <div>
    <label for="date">Date de commande </label>
    <input name="date" type="date" [(ngModel)]="model.date" #date="ngModel" required>
  </div>
  <div *ngIf="date.touched && date.errors">
    <span *ngIf="date.errors?.['required']">Le champ email est requis</span>
  </div>
  <div>
    <label for="contact">Contact</label>
    <input name="contact" type="text" [(ngModel)]="model.contact" #contact="ngModel" required email>
  </div>
  <div *ngIf="contact.touched && contact.errors">
    <span *ngIf="contact.errors?.['required']">Le champ email est requis</span>
    <span *ngIf="contact.errors?.['email']">L'adresse email doit être valide</span>
  </div>
  <button type="reset">Restaurer</button>
  <button type="submit" [disabled]="myForm.invalid">Sauvegarder</button>
</form>
