.position-tr {
  position: absolute;
  top :8px;
  right: 8px;
}
.position-tl {
  position: absolute;
  top :8px;
}
.position-br {
  position: absolute;
  bottom :8px;
  right: 8px;
}
.position-bl {
  position: absolute;
  bottom :8px;
}
